{% extends 'base.html.twig' %}

{% block title %}{{ app_name ~ ' - Oops...' }}{% endblock %}

{% block body %}
    <div class="index-body">
        <div class="index-box error404">
            <div class="index-left">
                <div class="text-center">
{#                    TODO#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
